In [1]:
#Import the required libraries
import pandas as pd
from pandas import DataFrame
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, scale, StandardScaler
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV, Ridge, Lasso
from sklearn import preprocessing

In [2]:
train_data = pd.read_csv('../notebook/cleaned_data_for_regression.csv')
test_data = pd.read_csv('../notebook/cleaned_test_data.csv')

In [3]:
train_data.head()

,Unnamed: 0,amount_donated,control_number,months_since_origin,donor_age,in_house,urbanicity,ses,cluster_code,home_owner,...,lifetime_gift_range,lifetime_max_gift_amt,lifetime_min_gift_amt,last_gift_amt,card_prom_12,number_prom_12,months_since_last_gift,months_since_first_gift,file_avg_gift,file_card_gift
0,0,0.0,5,101,87.0,0,X,5,54,H,...,15.0,20.0,5.0,15.0,5,12,26,92,8.49,7
1,1,10.0,12,137,79.0,0,R,2,45,H,...,20.0,25.0,5.0,17.0,7,21,7,122,14.72,12
2,2,0.0,37,113,75.0,0,S,1,11,H,...,23.0,28.0,5.0,19.0,11,32,6,105,16.75,16
3,3,0.0,38,92,60.0,0,U,2,4,H,...,14.0,17.0,3.0,15.0,11,33,6,92,11.76,12
4,4,0.0,41,101,74.0,0,R,2,49,U,...,20.0,25.0,5.0,25.0,6,19,18,92,8.83,3

In [4]:
test_data

,Unnamed: 0,control_number,months_since_origin,donor_age,in_house,urbanicity,ses,cluster_code,home_owner,donor_gender,...,lifetime_gift_range,lifetime_max_gift_amt,lifetime_min_gift_amt,last_gift_amt,card_prom_12,number_prom_12,months_since_last_gift,months_since_first_gift,file_avg_gift,file_card_gift
0,0,139,101,59.0,0,R,2,46,U,F,...,16.0,21.0,5.0,21.0,4,10,26,90,14.71,2
1,1,142,137,59.0,0,R,2,43,U,F,...,9.0,11.0,2.0,10.0,9,22,22,129,6.00,14
2,2,282,17,30.0,0,T,1,35,H,M,...,15.0,20.0,5.0,20.0,5,14,20,87,8.44,1
3,3,368,137,75.0,0,U,1,2,H,M,...,5.0,10.0,5.0,10.0,10,24,19,129,6.50,22
4,4,387,5,59.0,0,T,2,40,U,F,...,7.0,10.0,3.0,5.0,5,12,18,85,5.83,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2143,2143,190842,101,47.0,1,C,1,24,U,F,...,16.0,17.0,1.0,17.0,5,10,26,101,11.44,7
2144,2144,191056,41,17.0,1,U,1,1,U,M,...,24.0,44.0,20.0,32.0,5,18,26,44,28.83,2
2145,2145,191164,89,55.0,0,X,5,54,U,F,...,9.0,12.0,3.0,10.0,6,13,18,81,8.41,8
2146,2146,191484,65,42.0,1,X,5,54,U,F,...,5.0,20.0,15.0,20.0,6,13,18,56,18.33,1
2147,2147,191710,137,77.0,1,C,1,24,H,F,...,9.0,10.0,1.0,10.0,6,13,21,130,7.81,13

In [ ]:
def drop_column(column_name, data):
    dropped_data = data.drop([column_name], axis = 1) 
    return dropped_data