In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
df = pd.read_csv('../data/donor_data.csv')

In [3]:
df.head()

,TARGET_B,TARGET_D,CONTROL_NUMBER,MONTHS_SINCE_ORIGIN,DONOR_AGE,IN_HOUSE,URBANICITY,SES,CLUSTER_CODE,HOME_OWNER,...,LIFETIME_GIFT_RANGE,LIFETIME_MAX_GIFT_AMT,LIFETIME_MIN_GIFT_AMT,LAST_GIFT_AMT,CARD_PROM_12,NUMBER_PROM_12,MONTHS_SINCE_LAST_GIFT,MONTHS_SINCE_FIRST_GIFT,FILE_AVG_GIFT,FILE_CARD_GIFT
0,0,NaN,5,101,87.0,0,?,?,.,H,...,15.0,20.0,5.0,15.0,5,12,26,92,8.49,7
1,1,10.0,12,137,79.0,0,R,2,45,H,...,20.0,25.0,5.0,17.0,7,21,7,122,14.72,12
2,0,NaN,37,113,75.0,0,S,1,11,H,...,23.0,28.0,5.0,19.0,11,32,6,105,16.75,16
3,0,NaN,38,92,NaN,0,U,2,04,H,...,14.0,17.0,3.0,15.0,11,33,6,92,11.76,12
4,0,NaN,41,101,74.0,0,R,2,49,U,...,20.0,25.0,5.0,25.0,6,19,18,92,8.83,3

In [4]:
##converting the upper case features to lower class to make my eda easier

df.columns = df.columns.str.lower()

In [5]:
df.columns.to_list()

['target_b',
 'target_d',
 'control_number',
 'months_since_origin',
 'donor_age',
 'in_house',
 'urbanicity',
 'ses',
 'cluster_code',
 'home_owner',
 'donor_gender',
 'income_group',
 'published_phone',
 'overlay_source',
 'mor_hit_rate',
 'wealth_rating',
 'median_home_value',
 'median_household_income',
 'pct_owner_occupied',
 'per_capita_income',
 'pct_attribute1',
 'pct_attribute2',
 'pct_attribute3',
 'pct_attribute4',
 'pep_star',
 'recent_star_status',
 'recency_status_96nk',
 'frequency_status_97nk',
 'recent_response_prop',
 'recent_avg_gift_amt',
 'recent_card_response_prop',
 'recent_avg_card_gift_amt',
 'recent_response_count',
 'recent_card_response_count',
 'months_since_last_prom_resp',
 'lifetime_card_prom',
 'lifetime_prom',
 'lifetime_gift_amount',
 'lifetime_gift_count',
 'lifetime_avg_gift_amt',
 'lifetime_gift_range',
 'lifetime_max_gift_amt',
 'lifetime_min_gift_amt',
 'last_gift_amt',
 'card_prom_12',
 'number_prom_12',
 'months_since_last_gift',
 'months_since_first_gift',
 'file_avg_gift',
 'file_card_gift']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19372 entries, 0 to 19371
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   target_b                     19372 non-null  int64
 1   target_d                     4843 non-null   float64
 2   control_number               19372 non-null  int64
 3   months_since_origin          19372 non-null  int64
 4   donor_age                    14577 non-null  float64
 5   in_house                     19372 non-null  int64
 6   urbanicity                   19372 non-null  object
 7   ses                          19372 non-null  object
 8   cluster_code                 19372 non-null  object
 9   home_owner                   19372 non-null  object
 10  donor_gender                 19372 non-null  object
 11  income_group                 14980 non-null  float64
 12  published_phone              19372 non-null  int64
 13  overlay_source               19372 non-null  object
 14  mor_hit_rate                 19372 non-null  int64
 15  wealth_rating                10562 non-null  float64
 16  median_home_value            19372 non-null  int64
 17  median_household_income      19372 non-null  int64
 18  pct_owner_occupied           19372 non-null  int64
 19  per_capita_income            19372 non-null  int64
 20  pct_attribute1               19372 non-null  int64
 21  pct_attribute2               19372 non-null  int64
 22  pct_attribute3               19372 non-null  int64
 23  pct_attribute4               19372 non-null  int64
 24  pep_star                     19372 non-null  int64
 25  recent_star_status           19372 non-null  int64
 26  recency_status_96nk          19372 non-null  object
 27  frequency_status_97nk        19372 non-null  int64
 28  recent_response_prop         19372 non-null  float64
 29  recent_avg_gift_amt          19372 non-null  float64
 30  recent_card_response_prop    19372 non-null  float64
 31  recent_avg_card_gift_amt     19372 non-null  float64
 32  recent_response_count        19372 non-null  int64
 33  recent_card_response_count   19372 non-null  int64
 34  months_since_last_prom_resp  19126 non-null  float64
 35  lifetime_card_prom           19372 non-null  int64
 36  lifetime_prom                19372 non-null  int64
 37  lifetime_gift_amount         19372 non-null  float64
 38  lifetime_gift_count          19372 non-null  int64
 39  lifetime_avg_gift_amt        19372 non-null  float64
 40  lifetime_gift_range          19372 non-null  float64
 41  lifetime_max_gift_amt        19372 non-null  float64
 42  lifetime_min_gift_amt        19372 non-null  float64
 43  last_gift_amt                19372 non-null  float64
 44  card_prom_12                 19372 non-null  int64
 45  number_prom_12               19372 non-null  int64
 46  months_since_last_gift       19372 non-null  int64
 47  months_since_first_gift      19372 non-null  int64
 48  file_avg_gift                19372 non-null  float64
 49  file_card_gift               19372 non-null  int64
dtypes: float64(16), int64(27), object(7)
memory usage: 7.4+ MB